%html
%head
%body
.header
  .header__logo
    TAPIOKA
.contents
  .category-menu
    .category-menu__item
      = link_to "About Me"
    .category-menu__item
      = link_to "Profile"
    .category-menu__item
      = link_to "portfolio"
    .category-menu__item
      = link_to "Contact Me"