.header {
  position: relative;
  background: #fff;
  height: 60px;
  border-bottom: 2px solid #eee;
}
.header__logo {
  width: 230px;
  margin: 0 auto;
  color: hotpink;
  font-size: 55px;
  font-family: 'Courier New', Courier, monospace;
}
.contents {
  height: 500px;
  margin: 30px 100px;
}
.category-menu {
  height: 100%;
  width: 100px;
  float: left;
  &__item {
    display: block;
    padding: 10px 0 60px 8px;
    font-size: 15px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}